hand_writing/mnist.npz
hand_writing/mnist-nn-model-20220512/keras_metadata.pb
hand_writing/mnist-nn-model-20220512/saved_model.pb
hand_writing/mnist-nn-model-20220512/variables/variables.data-00000-of-00001
hand_writing/mnist-nn-model-20220512/variables/variables.index
loan/LoanOrNot-LR-20220502.pkl
loan/WebUI/LoanOrNot-LR-20220502.pkl
titanic/test/Titanic-LR-20220409.pkl
house_price/data/house_test.csv.gz
house_price/data/house_train.csv.gz
titanic/data/titanic_test.csv
titanic/data/titanic_train.csv
materials/01_machine_learning/data/house_test.csv.gz
materials/01_machine_learning/data/house_train.csv.gz
materials/01_machine_learning/data/taxi_data1.csv
materials/01_machine_learning/data/taxi_data2.csv
materials/01_machine_learning/data/titanic_train.csv
materials/01_machine_learning/data/titanic_test.csv
taxi_fare/data/taxi_data1.csv
taxi_fare/data/taxi_data2.csv
taxi_fare/data/my_result/taxi_1111_finalexam.csv
house_price/data/baseline/house_baseline_1091_finalexam.csv
house_price/data/baseline/house_baseline_1111_finalexam.csv
house_price/data/my_result/house_1111_finalexam.csv
house_price/test/Housing_Dataset_Sample.csv
loan/loan_prediction_training_data.csv


*.csv
README.md
materials/04_data_cleaning_preprocessing_and_feature_engineering/data/house_test.csv.gz
materials/04_data_cleaning_preprocessing_and_feature_engineering/data/house_train.csv.gz
materials/05_feature_engineering/data/house_test.csv.gz
materials/05_feature_engineering/data/house_train.csv.gz
materials/06_feature_engineering/data/house_test.csv.gz
materials/06_feature_engineering/data/house_train.csv.gz
materials/07_parameter_tuning_and_ensemble/data/house_test.csv.gz
materials/07_parameter_tuning_and_ensemble/data/house_train.csv.gz
materials/02_data_cleaning_and_preprocessing/data/examples/example.pkl
materials/02_data_cleaning_and_preprocessing/data/examples/example.txt
materials/02_data_cleaning_and_preprocessing/data/examples/example.npy
materials/02_data_cleaning_and_preprocessing/data/examples/example.mat
materials/03_data_cleaning_and_preprocessing/data/examples/example.mat
materials/03_data_cleaning_and_preprocessing/data/examples/example.npy
materials/03_data_cleaning_and_preprocessing/data/examples/example.pkl
materials/03_data_cleaning_and_preprocessing/data/examples/example.txt
